# {{ ansible_managed }}

{% if item.author is defined %}
# Author: {{ item.author }}
{% endif %}

{% if item.description is defined %}
{% for line in item.description.split('\n') %}
# {{ line }}
{% endfor %}
{% endif %}

{% if item.includes is defined %}
[INCLUDES]
{% if item.includes.before is defined %}
before       = {{ item.includes.before }}
{% endif %}
{% endif %}

{% if item.default is defined %}
[DEFAULT]
{% if item.default.daemon is defined %}
_daemon      = {{ item.default.daemon }}
{% endif %}
{% endif -%}

[Definition]
{% if item.definition.daemon is defined %}
_daemon      = {{ item.definition.daemon }}
{% endif -%}

{% if item.definition.port is defined %}
_port        = {{ item.definition.port }}
{% endif -%}

{% if item.definition.prefregex is defined %}
prefregex    = {{ item.definition.prefregex | join('\n               ') }}
{% endif -%}

{% if item.definition.custom is defined %}
{% for line in item.definition.custom.split('\n') %}
{{ line }}
{% endfor %}
{% endif -%}

{% if item.definition.failregex is defined %}
failregex    = {{ item.definition.failregex | join('\n               ') }}
{% endif -%}

{% if item.definition.ignoreregex is defined %}
ignoreregex  = {{ item.definition.ignoreregex }}
{% endif -%}

{% if item.definition.mode is defined %}
mode         = {{ item.definition.mode }}
{% endif -%}

{% if item.definition.maxlines is defined %}
maxlines     = {{ item.definition.maxlines }}
{% endif -%}

{% if item.definition.datepattern is defined %}
datepattern  = {{ item.definition.datepattern | join('\n               ') }}
{% endif -%}

{% if item.init is defined %}
[Init]
{% if item.init.journalmatch is defined %}
journalmatch = {{ item.init.journalmatch }}
{% endif %}
{% endif %}
